<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Blogify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <% if (locals.user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/addBlog">Add Blog</a>
                    </li>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <% if (locals.user) { %>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout" style="margin-right: 15px;">Logout</a>
                    </li>
                <% } else {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin">Sign-in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup">Create Account</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<% if (locals.error) { %>
    <div class="container mt-4">
        <div class="alert alert-danger" role="alert">
            <%= locals.error %>
        </div>
    </div>
<% } %>
